<!DOCTYPE html>
<html>
  <head>
  <meta charset=utf-8 />
  <title> {{.Title}} - Marlon Photography</title>
  <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div id="main">
      <h1> Marlon Photography </h1>
      <nav role="navigation">
       <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/photos">Photos</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/contact">Contact</a></li>
       </ul>
      </nav>
      <section id="main">
      <article class="post">
      <header>
      <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
      <div class="post-meta">{{ .Date.Format "Mon, Jan 2, 2006" }} - {{ .FuzzyWordCount }} Words </div>
      </header>

      {{ .Summary }}
      <footer>
      <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
      </footer>
      </article>
      </section>
      <footer>
        <p>@copy; Marlon Photography 2014 | All Rights Reserved. </p>
      </footer>
  </body>
</html>
